<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="amd-ryzen-chipset" />
  <package id="atom" />
  <package id="audacity" />
  <package id="autohotkey.portable" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-fastanswers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="crystaldiskinfo.portable" />
  <package id="curl" />
  <package id="DotNet4.5" />
  <package id="DotNet4.5.2" />
  <package id="dotnet-6.0-desktopruntime" />
  <package id="dotnet-7.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="dropbox" />
  <package id="dropit" />
  <package id="dropit.install" />
  <package id="eraser" />
  <package id="filezilla" />
  <package id="Firefox" />
  <package id="foobar2000" />
  <package id="gimp" />
  <package id="GoogleChrome" />
  <package id="googledrive" />
  <package id="handbrake" />
  <package id="handbrake.install" />
  <package id="hexchat" />
  <package id="imagemagick.app" />
  <package id="InkScape" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3063858" />
  <package id="mediainfo" />
  <package id="mkvtoolnix" />
  <package id="nodejs" />
  <package id="nodejs.install" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="nvidia-display-driver" />
  <package id="obs-studio" />
  <package id="obs-studio.install" />
  <package id="paint.net" />
  <package id="plex" />
  <package id="poweriso" />
  <package id="procexp" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="python3" />
  <package id="python311" />
  <package id="python312" />
  <package id="qbittorrent" />
  <package id="subtitleedit" />
  <package id="sumatrapdf" />
  <package id="sumatrapdf.install" />
  <package id="tagscanner" />
  <package id="tightvnc" />
  <package id="vcredist140" />
  <package id="vcredist2005" />
  <package id="vcredist2008" />
  <package id="vcredist2010" />
  <package id="vcredist2012" />
  <package id="vcredist2013" />
  <package id="vcredist2015" />
  <package id="vcredist2017" />
  <package id="ventoy" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vscode.install" />
  <package id="wireshark" />
  <package id="wiztree" />
</packages>
