"*":
  "atom-beautify":
    css:
      beautify_on_save: true
    handlebars:
      beautify_on_save: true
      default_beautifier: "Pretty Diff"
    html:
      beautify_on_save: true
    js:
      beautify_on_save: true
      brace_style: "collapse-preserve-inline"
    json:
      beautify_on_save: true
    sass:
      beautify_on_save: true
    scss:
      beautify_on_save: true
  core:
    customFileTypes:
      "text.html.htmlbars": [
        "hbs"
      ]
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    whitespace:
      removeTrailingWhitespace: false
  editor:
    fontFamily: "Menlo"
    fontSize: 15
    invisibles: {}
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…"
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "884440fb-9e84-fcf9-8239-ecee423c921e"
  "linter-eslint":
    fixOnSave: true
  "linter-ui-default":
    panelHeight: 81
  welcome:
    showOnStartup: false
