"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
    whitespace:
      removeTrailingWhitespace: false
  editor:
    fontFamily: "Menlo"
    fontSize: 14
    invisibles: {}
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?s…"
    preferredLineLength: 120
    showIndentGuide: true
    softWrap: true
    softWrapAtPreferredLineLength: true
  "exception-reporting":
    userId: "884440fb-9e84-fcf9-8239-ecee423c921e"
  welcome:
    showOnStartup: false
